<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>servlets.ServletCatalogacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletApresentarTudo</servlet-name>
        <servlet-class>servlets.ServletApresentarTudo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscar</servlet-name>
        <servlet-class>servlets.ServletBuscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletExclusao</servlet-name>
        <servlet-class>servlets.ServletExclusao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEdicao</servlet-name>
        <servlet-class>servlets.ServletEdicao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/servletCatalogacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletApresentarTudo</servlet-name>
        <url-pattern>/ServletApresentarTudo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscar</servlet-name>
        <url-pattern>/ServletBuscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletExclusao</servlet-name>
        <url-pattern>/ServletExclusao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEdicao</servlet-name>
        <url-pattern>/ServletEdicao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
